@import 'smart-grid';
@import '_normalize';
@import '_fonts';
@import 'swiper.min.css';

///---------common styles ----------------------

html {
	// font-size: 20px;
}

*{
	box-sizing: border-box;
}

img{
	margin: 0;
	padding: 0;
	width: 100%;	
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
	color: #fff;
}

a {
	text-decoration: none;
	color: #fff;
}

body, div, h1, h2, h3, h4, p, input {
	margin: 0;
	padding: 0;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.container {	
	position: relative;
	@include wrapper();
	max-width: 1460px;
	// border: 1px solid red;
	// overflow: hidden;
}

.page{
	position: relative;
	max-width: 1920px;
}

.asideColumn{
	position: fixed;
	z-index: 10;
	width: 185px;
	height: 100vh;
	padding: 20px 0 10px 25px;
	background-color: #fff;
	border-right: 1px solid #e5e5e5;

	@include to(1023px){
		display: none;
	}

	& > p{
	}
}

.pageWrap{
	padding-left: 187px;

	@include to(1023px){
		padding-left: 0;
	}
}

.uniqueizer11221{
	max-width: 1920px;

	
	.line_disabled{
		display: none;
	}

	img{
		max-width: none;
	}

	.mainTitle{
		font-family: Montserrat-Bold, sans-serif;
		font-size: 28px;
		color: #ff1313;
		text-transform: uppercase;

		@include to(1170px){
			font-size: 24px;
		}

		@include xs(font-size, 4.5vw);
	}

	//---header----
	.header{
    // border: 1px solid yellow;
    position: relative;		
    background: url(../img/header__bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -80px;
		// background-color: #00bbb0;
    line-height: 1.15;
    padding-bottom: 50px;

		//header__step_1
    @include to(1700px){
      background-position-y: -65px;
    }

		//header__step_3
    @include to(1500px){
      background-position-y: -50px;
    }

		//header__step_5
    @include to(1320px){
      padding-bottom: 50px;
    }

    @include md(background-position-y, -40px);

		&__bg{
      position: absolute;
      left: 0;
      top: 0;
			width: 100%;
    }

    &__auto{
      // border: 1px solid red;
      position: relative;
      display: inline-block;
      // width: 700px;
      width: 40.45%;

			//header__step_5
      @include to(1320px){
        transform: translateY(1.5%) scale(1.1);
      }

			//header__step_6
      @include to(1200px){
        transform: translateY(1.5%) scale(1);
      }

			//header__step_7
      @include to(1023px){
        transform: translateY(2%) scale(1.1);
      }
    }

    &__content{
      position: relative;
      // border: 1px solid white;
      // max-width: 1220px;
      width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: space-evenly;
      margin-top: 3.7vw;
			
			//header__step_2
      @include to(1320px){
        margin-top: 2vw;
      }
    }
    
    &__right{
      // border: 1px solid blue;
      position: relative;
      display: inline-block;
      text-align: center;
    }

    &__isuzuLogo{
      // width: 360px;
      width: 84.2%;
    }

    &__title{
      font-family: Montserrat-Medium, sans-serif;
      font-size: 20px;
      position: relative;
      color: white;
      margin-top: 50px;

			//header__step_2
      @include to(1625px){
        margin-top: 30px;
      }

			//header__step_4
      @include to(1420px){
        font-size: 18px;
      }

			//header__step_5
      @include to(1320px){
        font-size: 1.4vw;
      }
			
			//header__step_6
      @include to(1200px){
        margin-top: 15px;
      }
    }

    &__nectarinLogo{
      width: 175px;
			margin-top: 50px;
			
      //header__step_2
      @include to(1625px){
        margin-top: 30px;
      }
			//header__step_2
      @include to(1625px){
        width: 150px;
      }

			//header__step_6
      @include to(1200px){
        margin-top: 15px;
      }
    }
	}

	//----audience
	.audience{
		// border: 1px solid blue;
		position: relative;
		background-color: white;
		line-height: 1.15;
		padding: 100px 0;

		@include sm(padding, 40px 0 0 0);
		
		&__content{
			// border: 1px solid red;
			display: flex;
			justify-content: space-between;

			@include lg-block{
				flex-wrap: wrap;
				justify-content: center;
			}

			// @include xs(width, 100%);
		}

		&__part{
			// border: 1px solid orange;
			display: flex;
			width: 40%;			

			@include to(1500px){
				width: 43%;
			}

			@include to(1400px){
				width: 45%;
			}

			@include to(1230px){
				width: 48%;
			}

			@include lg-block{
				width: 100%;
				max-width: 500px;
				align-items: center;
				margin: 20px 0;
			}
		}

		&__img{
			// border: 1px solid yellow;
			max-width: 140px;

			@include xs-block{
				max-width: 35%;
				// width: 35%;
			}

			&_speaker{
				align-self: center;
			}

			&_man{
				align-self: flex-end;
			}			
		}

		&__textBlock{
			margin-left: 20px;

			@include xxs(margin-left, 10px);
		}

		&__p{
			font-family: Montserrat-Medium, sans-serif;
			font: 16px;
			line-height: 1.3;
			margin-top: 15px;

			@include to(1170px){
				font-size: 14px;
			}

			@include xs-block{
				font-size: 3vw;
			}

			@include xxs(margin-top, 10px);
		}
	}

	//----decision
	.decision{
		// border: 1px solid blue;
		position: relative;
		background-color: white;
		background: url(../img/dicesion__bg.png);
		background-size: cover;
		background-repeat: no-repeat;
		// background-position-y: 80px;
		line-height: 1.15;
		padding: 120px 0 50px 0;

		@include sm-block{
			background-position-x: 40%;
		}

		&__leftTriangle{
			position: absolute;
			top: 0;
			right: 0;
			width: 30%;
			min-width: 366px;

			@include to(1420px){
				width: 35%;
			}

			@include sm-block{
				min-width: auto;
				width: 340px;
			}
		}

		&__content{
			// border: 1px solid black;
			width: 700px;
			margin: 0 auto;

			@include to(1420px){
				transform: translate(-100px);
			}

			@include to(1230px){
				transform: translate(0px);
				margin: 0;
				width: 70%;
			}

			@include md(width, 65%);

			@include sm-block{
				margin-top: 50px;
			}

			@include to(720px){
				margin-top: 80px;
			}

			@include to(660px){
				margin-top: 110px;
				width: 80%;
			}

			@include xs-block{
				margin-top: 125px;
				width: 85%;
			}

			@include to(470px){
				margin-top: 180px;
				width: 100%;
			}

			@include to(400px){
				margin-top: 210px;
			}
		}

		&__p{
			font-family: Montserrat-Medium, sans-serif;
			font-size: 16px;
			margin-top: 20px;
			color: black;
			line-height: 1.3;

			@include lg-block{
				margin-top: 15px;
				font-size: 14px;
			}

			@include md(font-size, 13px);
			@include xs(font-size, 12px);

			@include to(400px){
				font-size: 3vw;
			}

			&_bottom{
				margin-top: 0px !important;
				margin-left: 15px;

				@include sm(width, 88%);
			}
		}

		&__title{
			margin-top: 60px;

			@include lg(margin-top, 30px);
		}

		&__bottom{
			display: flex;
			justify-content: space-between;
			width: 100%;
			margin-top: 20px;

			@include sm(flex-wrap, wrap);
		}

		&__bottomPart{
			display: flex;
			align-items: center;
			width: 65%;

			@include sm-block{
				width: 100%;
				justify-content: space-between;
			};
			
			&_first{
				width: 35%;
				
				@include sm(margin-bottom, 15px);
			}
		}

		&__icon{
			max-width: 50px;

			@include sm(width, 30px);

			&_v{
				max-width: 65px;

				@include sm(width, 35px);
			}
		}
	}

	//-----slider----
	.slider{
		// border: 1px solid red;
		background-color: white;
		line-height: 1.15;

		padding: 80px 0 0 0;
		@include sm(padding, 40px 0 0 0);

		&__title{
			text-align: center;
		}

		&__subtitle{
			font-family: Montserrat-Medium, sans-serif;
			font-size: 16px;
			text-align: center;
			margin-top: 10px;

			@include xs(font-size, 14px);
		}

		&__wrapperSwiper{
			// border: 1px solid red;
			position: relative;
			width: 100%;
			text-align: center;
			// overflow-x: hidden;
			margin-top: 40px;

			@include xs(margin-top, 20px);
		}

		&__swiper-container{
			// border: 1px solid yellow;
			position: relative;
			overflow: hidden;
			width: 600px;
			cursor: pointer;
			padding-bottom: 20px;
			margin: 0 auto 0 auto;

			@include to(1150px){
				width: 70%;
			}

			@include xs(width, 90%);
			@include xxs(width, 100%);

			& > .swiper-pagination{
				bottom: 0px;

				& > .swiper-pagination-bullet-active{
					background: #ff1313;
				}
			}
		}

		&__swiperItemsContainer{
			cursor: pointer;
		}

		&__sliderButtons{
			// border: 1px solid green;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
			max-width: 700px;
			display: flex;
			justify-content: space-between;

			@include to(1023px){
				max-width: none;
				width: 80%;
			}

			@include xs(display, none);
		}

		&__chevron{
			// border: 1px solid black;
			width: 45px;
			height: 45px;
			fill: #d8d8d8;
			transition: .3s;

			@include from(1025px){
				cursor: pointer;

				&:hover{
					fill: #e22525ab;
				}
	
				&:active{
					fill: #d8d8d8;
				}
			}

			@include sm-block{
				width: 30px;
				height: 30px;
			}

			@include to(1024px){
				&:hover{
					fill: #d8d8d8;
				}

				&:active{
					fill: #e22525ab;
				}
			}

			&_left{
				transform: scale(-1,1);
			}
		}
	}

	//----conclusions
	.conclusions{
		position: relative;
		background-color: white;
		// background-position-y: 80px;
		line-height: 1.15;
		padding: 80px 0 0px 0;

		@include sm(padding, 40px 0 0 0);

		&__title{
			text-align: center;
		}

		&__content{
			width: 100%;
			max-width: 800px;
			margin: 0 auto;

			@include to(1023px){
				width: 85%;
			}

			@include xs(width, 100%);
		}

		&__p{
			font-family: Montserrat-Medium, sans-serif;
			font-size: 16px;
			margin-top: 20px;
			color: black;
			line-height: 1.4;
			text-align: justify;

			@include lg-block{
				margin-top: 15px;
				font-size: 14px;
			}

			@include md(font-size, 13px);
			@include xs(font-size, 12px);

			@include to(400px){
				font-size: 3vw;
			}
		}
	}

	//---footer---
	.footer{
		position: relative;
		padding: 50px 0 120px 0;
		overflow: hidden;
		line-height: 1.15;

		@include xs(padding, 40px 0 100px 0);

		&__bg{
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 100%;

			@include xs-block{
				top: 0;
				transform: translateY(0%);
				width: auto;
				height: 100%;
			};
		}

		&__members{
			position: relative;
			@include row-flex();
			// justify-content: space-between;
			justify-content: space-around;
			// margin-top: 9.8vw;

			/* @include from(1925px){
				margin-top: 165px;
			} */

			@include sm-block{
				// justify-content: space-around;
			}
		}
	}

	.member{
		@include col();
		@include size(3);
		@include size-xs(5);

		text-align: center;
		margin: 30px 0px;
		line-height: 1.15;

		@include sm-block{
			margin: 15px 0;
		}

		@include to(680px){
			@include size(4);
		}

		&__photo{
			width: 100%;
			max-width: 230px;
		}

		&__name{
			font-family: Montserrat-Bold, sans-serif;
			color: black;
			font-size: 24px;
			margin-top: 10px;
			
			@include to(1200px){
				font-size: 1.8vw;
			}

			@include sm-block{
				font-size: 2vw;
			}

			@include to(680px){
				font-size: 2.3vw;
			}

			@include xs(font-size, 3.5vw);
			@include xxs(font-size, 4vw);
		}

		&__position{
			font-family: Montserrat-Regular, sans-serif;
			font-size: 18px;
			margin-top: 8px;
			color: #808087;

			@include to(1200px){
				font-size: 1.5vw;
			}

			@include to(680px){
				font-size: 1.8vw;
			}
			
			@include xs(font-size, 2.5vw);
			@include xxs(font-size, 3vw);
		}
	}
}








